<h1>Listing tipo_restaurantes</h1>

<table>
  <tr>
    <th>Restaurante</th>
    <th>Tipos de restaurante</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipo_restaurantes.each do |tipo_restaurante| %>
  <tr>
    <td><%= Restaurante.find(tipo_restaurante.restaurante_id).nombre %></td>
    <td><%= TiposDeRestaurante.find(tipo_restaurante.tipos_de_restaurante_id).tipo %></td>
    <td><%= link_to 'Show', tipo_restaurante %></td>
    <td><%= link_to 'Edit', edit_tipo_restaurante_path(tipo_restaurante) %></td>
    <td><%= link_to 'Destroy', tipo_restaurante, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tipo restaurante', new_tipo_restaurante_path %>
