<!DOCTYPE html> 
<html> 

<head> 
  <title>QueHayDeComer.com</title> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
  <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
</head> 

<body> 

<!-- HOME PAGE -->
<div data-role="page" id="home" data-theme="a">
 <div data-role="content"> 
  <center><img src="/images/logo.jpg" height="75"/></center>
  <a href="#rest" data-role="button" >Restaurantes</a>
  <a href="#tipocom" data-role="button">Tipo de Comida</a>
  <a href="#oferta" data-role="button">Ofertas</a>
 </div>
 <div data-role="footer">
  <a href="#info" data-role="button" data-icon="info">info</a>
 </div>
</div>

<!-- RESTAURANTES -->
<div data-role="page" id="rest" data-theme="a">
  <div data-role="content">
  <img src="/images/logo.jpg" height="55"/>
<!---menu -->
<div class="ui-grid-b">
  <div class="ui-block-a"><center>Restaurantes</center></div>
  <div class="ui-block-b"><center>Tipo Comidas</center></div>
  <div class="ui-block-c"><center>Ofertas</center></div>
</div>
<div data-role="controlgroup" data-type="horizontal">
    <a href="#rest" data-role="button"><img src="/images/icon_rest.gif" height="40"/></a>
    <a href="#tipocom" data-role="button"><img src="/images/icon_dining.jpg"/ height="40"></a>
    <a href="#oferta" data-role="button"><img src="/images/icon_oferta.png" height="40"/></a>
</div>
<!-- fin menu -->
  <ul data-role="listview" data-inset="true" data-split-icon="grid" data-theme="a" data-divider-theme="b">
  <li data-role="list-divider">Restaurantes</li>
  <% @restaurantes.each do |restaurante| %>
    <li>
      <img src="<%= restaurante.logo %>" height="" /><center><a href="#inforest"><h4><%= restaurante.nombre %></h4></a></center>
      <a href="#com">#comida</a>
    </li>
  <% end %>
  </ul>
 </div>

<!-- Footer -->
<div data-role="footer">
  <a href="#home" data-role="button" data-icon="arrow-l">Atras</a>
  <a href="#home" data-role="button">Inicio</a>
</div>
<!--fin de footer -->
</div>

<!-- TIPO DE COMIDA -->
<div data-role="page" id="tipocom" data-theme="a">
 <div data-role="content">
  <img src="/images/logo.jpg" height="55"/>
<!---menu -->
<div class="ui-grid-b">
  <div class="ui-block-a"><center>Restaurantes</center></div>
  <div class="ui-block-b"><center>Tipo Comidas</center></div>
  <div class="ui-block-c"><center>Ofertas</center></div>
</div>
<div data-role="controlgroup" data-type="horizontal">
    <a href="#rest" data-role="button"><img src="/images/icon_rest.gif" height="40"/></a>
    <a href="#tipocom" data-role="button"><img src="/images/icon_dining.jpg"/ height="40"></a>
    <a href="#oferta" data-role="button"><img src="/images/icon_oferta.png" height="40"/></a>
</div>
<!-- fin menu -->
  <div data-role="fieldcontain">
    <label for="tipo">Tipo de Comida:</label>
    <select name="tipo" id="tipo">
    <% @categoria_comidas.each do |categoriacomida| %>
      <option value="<%= categoriacomida.id %>"><%= categoriacomida.categoria %></option>
    <% end %>
    </select>
  </div>
  <ul data-role="listview" data-inset="true" data-theme="a" data-divider-theme="b">
  <li data-role="list-divider">Comidas</li>
  <% @comidas.each do |comida| %>
    <li>
      <a href=""><%= comida.categoria_comida_id %> - <%= comida.nombre %></a>
    </li>
  <% end %>
  </ul>
 </div>
<!-- Footer -->
<div data-role="footer">
  <a href="#home" data-role="button" data-icon="arrow-l">Atras</a>
  <a href="#home" data-role="button">Inicio</a>
</div>
<!--fin de footer -->

</div> 

<!-- OFERTAS -->
<div data-role="page" id="oferta" data-theme="a">
 <div data-role="content">
  <img src="/images/logo.jpg" height="55"/>
<!---menu -->
<div class="ui-grid-b">
  <div class="ui-block-a"><center>Restaurantes</center></div>
  <div class="ui-block-b"><center>Tipo Comidas</center></div>
  <div class="ui-block-c"><center>Ofertas</center></div>
</div>
<div data-role="controlgroup" data-type="horizontal">
    <a href="#rest" data-role="button"><img src="/images/icon_rest.gif" height="40"/></a>
    <a href="#tipocom" data-role="button"><img src="/images/icon_dining.jpg"/ height="40"></a>
    <a href="#oferta" data-role="button"><img src="/images/icon_oferta.png" height="40"/></a>
</div>
<!-- fin menu -->
  <ul data-role="listview" data-inset="true" data-theme="a" data-divider-theme="b">
  <li data-role="list-divider">Ofertas</li>
  <% @ofertas.each do |oferta| %>
    <li data-role="button">
      <a href="#"><%= oferta.nombre %></a>
    </li>
  <% end %>
  </ul>
 </div>
<!-- Footer -->
<div data-role="footer">
  <a href="#home" data-role="button" data-icon="arrow-l">Atras</a>
  <a href="#home" data-role="button">Inicio</a>
</div>
<!--fin de footer -->

</div>

<!-- INFORMACION DE RESTAURANTES -->
<div data-role="page" id="inforest" data-theme="a">
 <div data-role="content">
  <img src="/images/logo.jpg" height="55"/>
<!---menu -->
<div class="ui-grid-b">
  <div class="ui-block-a"><center>Restaurantes</center></div>
  <div class="ui-block-b"><center>Tipo Comidas</center></div>
  <div class="ui-block-c"><center>Ofertas</center></div>
</div>
<div data-role="controlgroup" data-type="horizontal">
    <a href="#rest" data-role="button"><img src="/images/icon_rest.gif" height="40"/></a>
    <a href="#tipocom" data-role="button"><img src="/images/icon_dining.jpg"/ height="40"></a>
    <a href="#oferta" data-role="button"><img src="/images/icon_oferta.png" height="40"/></a>
</div>
<!-- fin menu -->
  <ul data-role="listview" data-inset="true" data-theme="a" data-divider-theme="b">
  <li data-role="list-divider">Informacion Restaurante</li>
  <% @restaurantes.each do |rest| %>
    <li>
      <%= rest.informacion %>
    </li>
  <% end %>
  </ul>
 </div>
<!-- Footer -->
<div data-role="footer">
  <a href="#home" data-role="button" data-icon="arrow-l">Atras</a>
  <a href="#home" data-role="button">Inicio</a>
</div>
<!--fin de footer -->
</div>

<!-- Info -->
<div data-role="page" id="info" data-theme="a">
 <div data-role="content">
  <img src="/images/logo.jpg" height="55"/>  
<!---menu -->
<div class="ui-grid-b">
  <div class="ui-block-a"><center>Restaurantes</center></div>
  <div class="ui-block-b"><center>Tipo Comidas</center></div>
  <div class="ui-block-c"><center>Ofertas</center></div>
</div>
<div data-role="controlgroup" data-type="horizontal">
    <a href="#rest" data-role="button"><img src="/images/icon_rest.gif" height="40"/></a>
    <a href="#tipocom" data-role="button"><img src="/images/icon_dining.jpg"/ height="40"></a>
    <a href="#oferta" data-role="button"><img src="/images/icon_oferta.png" height="40"/></a>
</div>
<!-- fin menu -->
  <h4>Seminario Profesional I</h4>
  <h4>Version 1.0 </h4>
  <div data-role="listview" data-inset="true" data-theme="a" data-divider-theme="b">
  <li data-role="list-divider">Creada por:</li>
    <li>Javier Juarez - 12344321</li> 
    <li>Sergio Arevalo - 12344321</li> 
    <li>Alberto Ruiz - 12344321</li> 
  </li>
 </div>
<!-- Footer -->
<div data-role="footer">
  <a href="#home" data-role="button" data-icon="arrow-l">Atras</a>
  <a href="#home" data-role="button">Inicio</a>
</div>
<!--fin de footer -->
</div>

<!-- Menu de Comidas -->
<div data-role="page" id="com" data-theme="a">
 <div data-role="content">
  <img src="/images/logo.jpg" height="55"/>  
<!---menu -->
<div class="ui-grid-b">
  <div class="ui-block-a"><center>Restaurantes</center></div>
  <div class="ui-block-b"><center>Tipo Comidas</center></div>
  <div class="ui-block-c"><center>Ofertas</center></div>
</div>
<div data-role="controlgroup" data-type="horizontal">
    <a href="#rest" data-role="button"><img src="/images/icon_rest.gif" height="40"/></a>
    <a href="#tipocom" data-role="button"><img src="/images/icon_dining.jpg"/ height="40"></a>
    <a href="#oferta" data-role="button"><img src="/images/icon_oferta.png" height="40"/></a>
</div>
<!-- fin menu -->
  <ul data-role="listview" data-inset="true">
  <% @comidas.each do |comida| %>
    <li>
      <%= comida.nombre %>
    </li>
  <% end %>
  </ul>
 </div>
<!-- Footer -->
<div data-role="footer">
  <a href="#home" data-role="button" data-icon="arrow-l">Atras</a>
  <a href="#home" data-role="button">Inicio</a>
</div>
<!--fin de footer -->
</div>

</body>
</html>
