<h1>Listing sedes</h1>

<table>
  <tr>
    <th>Direccion</th>
    <th>Municipio</th>
    <th>Zona</th>
    <th>Restaurante</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sedes.each do |sede| %>
  <tr>
    <td><%= sede.direccion %></td>
    <td><%= sede.municipio %></td>
    <td><%= sede.zona %></td>
    <td><%= sede.restaurante.nombre%></td>
    <td><%= link_to 'Detalle', sede %></td>
    <td><%= link_to 'Editar', edit_sede_path(sede) %></td>
    <td><%= link_to 'Eliminar', sede, :confirm => 'Esta seguro de elimar esta sede?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Sede', new_sede_path %>
