<h1>Listing restaurante_users</h1>

<table>
  <tr>
    <th>User</th>
    <th>Restaurante</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @restaurante_users.each do |restaurante_user| %>
  <tr>
    <td><%= restaurante_user.user %></td>
    <td><%= restaurante_user.restaurante %></td>
<% if current_user.admin? %>
    <td><%= link_to 'Show', restaurante_user %></td>
    <td><%= link_to 'Edit', edit_restaurante_user_path(restaurante_user) %></td>
    <td><%= link_to 'Destroy', restaurante_user, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Restaurante user', new_restaurante_user_path %>
