<h1>Listing comidas</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Imagen</th>
    <th>Precio</th>
    <th>Status</th>
    <th>Categoria comida</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comidas.each do |comida| %>
  <tr>
    <td><%= comida.nombre %></td>
    <td><%= comida.descripcion %></td>
    <td><%= comida.imagen %></td>
    <td><%= comida.precio %></td>
    <td><%= comida.status %></td>
    <td><%= comida.categoria_comida_id %></td>
    <td><%= link_to 'Show', comida %></td>
    <td><%= link_to 'Edit', edit_comida_path(comida) %></td>
    <td><%= link_to 'Destroy', comida, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comida', new_comida_path %>
