
<h1>Lista de Productos</h1>
<table>
  <tr>
    <th>Nombre</th>
    <th>Precio</th>
    <th>Status</th>
    <th>Categoria comida</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comidas.each do |comida| %>
  <tr>
    <td><%= comida.nombre %></td>
    <td><%= comida.precio %></td>
    <td><%= comida.status %></td>
    <td><%= CategoriaComida.find(comida.categoria_comida_id).categoria %></td>
    <td><%= link_to 'Detalle', comida %></td>
    <td><%= link_to 'Editar', edit_comida_path(comida) %></td>
    <td><%= link_to 'Borrar', comida, :confirm => 'Esta seguro de elimar?', :method => :delete %></td>
  </tr>
<% end %>
</table>



<%= link_to 'Agrega otro Producto ', new_comida_path %>


