<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @comida.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @comida.descripcion %>
</p>

<p>
  <b>Imagen:</b>
	
  <%= image_tag(@comida.photo.url,:size => "150x150") %>
</p>

<p>
  <b>Precio:</b>
  <%= @comida.precio %>
</p>

<p>
  <b>Status:</b>
  <%= @comida.status %>
</p>

<p>
  <b>Categoria comida:</b>
  <%= CategoriaComida.find(@comida.categoria_comida_id).categoria %>
</p>


<%= link_to 'Editar', edit_comida_path(@comida) %> 
<%= link_to 'Regresar', comidas_path %>


