<h1>Listing tipos_de_restaurantes</h1>

<table>
  <tr>
    <th>Tipo</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipos_de_restaurantes.each do |tipos_de_restaurante| %>
  <tr>
    <td><%= tipos_de_restaurante.tipo %></td>
    <td><%= tipos_de_restaurante.descripcion %></td>
    <td><%= link_to 'Show', tipos_de_restaurante %></td>
    <td><%= link_to 'Edit', edit_tipos_de_restaurante_path(tipos_de_restaurante) %></td>
    <td><%= link_to 'Destroy', tipos_de_restaurante, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tipos de restaurante', new_tipos_de_restaurante_path %>
