<%= form_for(@categoria_comida) do |f| %>
  <% if @categoria_comida.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categoria_comida.errors.count, "error") %> prohibited this categoria_comida from being saved:</h2>

      <ul>
      <% @categoria_comida.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :categoria %><br />
    <%= f.text_field :categoria %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
