<h1>Listing categoria_comidas</h1>

<table>
  <tr>
    <th>Categoria</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categoria_comidas.each do |categoria_comida| %>
  <tr>
    <td><%= categoria_comida.categoria %></td>
    <td><%= categoria_comida.descripcion %></td>
    <td><%= link_to 'Show', categoria_comida %></td>
    <td><%= link_to 'Edit', edit_categoria_comida_path(categoria_comida) %></td>
    <td><%= link_to 'Destroy', categoria_comida, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Categoria comida', new_categoria_comida_path %>
