<!DOCTYPE html>
<html>
<head>
  <title>Qhdc</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>

  <% if user_signed_in? %>
<body>
<div id="header">
	<div id="logo">
		<h1><a href="#">QueHayDeComer.com</a></h1>
        <h2>Bienvenido</h2>
		
	</div>
	<div id="menu">
		<ul>			
			<li class="active"><%= link_to("Inicio", { :controller => "/welcome", :action => :index }) %></li>		
			<li><%= link_to 'Productos', comidas_path %></li>
			<li><%= link_to 'Ofertas', ofertas_path %></li>
			<li><%= link_to 'Sedes', sedes_path %></li>			
			<li><%= link_to 'Cuenta', edit_user_registration_url(@resource)%></li>
		</ul>
	</div>
</div>
<div id="page">
	<div id="content">
		<div>
	<%= yield %>
	<%= notice %>
	<%= alert %>
		</div>		
	</div>
</div>


</body>



  <% else %>
	<%= yield %>
	<%= notice %>
	<%= alert %>

  <% end %>


</body>
</html>
